.project-container {
  margin: 15vh 0 10vh 0;
  max-width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 21vh 21vh 21vh 21vh;
  gap: 1rem;
  grid-template-areas:
    "box-1 box-1 box-2 box-2"
    "box-1 box-1 box-6 box-3"
    "box-4 box-5 box-6 box-7"
    "box-4 box-5 box-8 box-7 ";
}

.box {
  /* background-color: hsla(0, 0%, 85%, 17%); */
  /* border-radius: 0.3rem; */
  background-color: aquamarine;
  cursor: pointer;
}

@media (max-width: 70rem) {
  .project-container {
    margin-top: 8vh;
    gap: 1vw;
    min-height: 60vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh 20vh;

    grid-template-areas:
      "box-1 box-1 box-2"
      "box-3 box-4 box-4"
      "box-5 box-6 box-7";
  }
}
