.project-container {
  margin: 5rem 0;
  width: 70%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  grid-template-areas:
    "box-1 box-2 box-5 "
    "box-3 box-4 box-5 ";
}

.box {
  background-color: hsla(0, 0%, 85%, 17%);
  border-radius: 0.3rem;
  border: 1px solid transparent;
  aspect-ratio: 1/1;
  cursor: pointer;
}

@media (max-width: 70rem) {
  .project-container {
    margin-top: 8vh;
    gap: 1vw;
    min-height: 70vh;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22vh 22vh 22vh 22vh;

    grid-template-areas:
      "box-1 box-1 box-2"
      "box-3 box-4 box-4"
      "box-5 box-6 box-7";
  }
}
