.project-container {
  margin: 5rem auto;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.box-link {
  background-color: hsla(0, 0%, 85%, 17%);
  border-radius: 0.3rem;
  border: 1px solid transparent;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.box img {
  border-radius: 0.3rem;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.box p{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.786);
  font-size: 1.5rem;
  display: none;
}

.box:hover p {
  display: block;
}

@media (max-width: 450px) {
  .project-container {
    margin-top: 8vh;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
