.navbar {
  font-weight: 300;
  font-size: 1.3rem;

  position: fixed;
  z-index: 100;
  right: 4vw;
}

.section-link {
  border: 0.1rem solid transparent;
  height: 2.9rem;
  width: 7rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;

  transition: border 0.3s ease, border-radius 0.3s ease;
  cursor: pointer;
}

.section-link:after {
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  background-color: yellow;
  /* border-radius: 100%; */
  display: none;
  position: absolute;
  right: 1.5rem;

  transition: display 0.25s ease;
}
.section-link:hover::after {
  display: block;
}

.section-link:hover {
  border: 0.1rem solid hsla(0, 0%, 75%, 56%);
  /* border-radius: 0.25rem; */
}

/* @media (max-width: 68rem) {
  .navbar {
    background-color: rgba(70, 70, 70, 0.645);
    top: 2.7rem;
    right: 0;
    bottom: 0;
    padding: 5rem 2rem;
    backdrop-filter: blur(50px);
  }

  .link{
  text-decoration: none;
}

  .section-link {
    width: 10rem;
  }
  .section-link:after {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    background-color: yellow;
    border-radius: 100%;
    display: none;
    position: absolute;
    right: 3rem;
  }

  .navbar.active {
    display: none;
  }
} */
