.quote-block {
  max-width: 100vw;
  display: grid;
  text-align: center;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.3rem;
  margin: auto;
}

.quote {
  font-weight: 200;
}

.quote-year {
  font-weight: 200;
}

.quote-author {
  font-weight: 300;
}

@media (max-width: 450px) {
  .quote-block {
    font-size: 1.1rem;
  }
}
