.taskbar-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  background-color: #1b1c1d;
}

.taskbar {
  border-bottom: 0.01rem solid #ffffff23;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.logo {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;

  cursor: pointer;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;

  display: none;
}

@media (max-width: 75rem) {
  .menu-button {
    display: block;
  }
}
