.web-section {
  /* height: calc(100vh - 5rem); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15vh 0;
}

.current-sect {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 400;
  color: #efede37b;
  margin-bottom: 3vh;
}

.sect-title {
  font-size: clamp(3.3rem, 12vw, 8rem);
  font-weight: 500;
}

.subheading {
  font-size: clamp(1.2rem, 3vw, 1.7rem);
  font-weight: 300;
  line-height: clamp(2.2rem, 6.5vh, 2.8rem);
  max-width: 55vw;
  margin: 7vh auto;
}

@media (max-width: 500px) {
  .web-section {
    margin: 2vh 0;
  }
  .subheading {
    margin: 3.8vh auto;
    max-width: 100%;
  }
}

@media (max-width: 950px) {
  .web-section {
    margin: 2vh 0;
  }
  .subheading {
    margin: 3.8vh auto;
    width: 80vw;
  }
}
