.current-sect {
  font-size: 1.5rem;
  font-weight: 200;
}

.sect-title {
  font-size: 6.2rem;
  font-weight: 600;
}

.subheading {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;

  display: inline-flex;
  max-width: 37rem;
}
