.quote-block {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.3rem;

  margin-top: 12rem;
}

.quote {
  font-weight: 200;
  font-style: italic;
}

.quote-year {
  font-weight: 200;
}

.quote-author {
  font-weight: 300;
}

@media (max-height: 650px) {
  .quote-block {
    display: none;
  }
}
