.section-container {
  display: flex;
  flex-direction: column;
  margin: 0 15%;
  gap: 5vh;
}

main {
  display: flex;
  flex-direction: column;
}

@media (max-width: 450px) {
  .section-container {
    padding: 10vh 0;
  }
}
