.section-container {
  display: flex;
  flex-direction: column;
  margin: 0 15%;
  gap: 5vh;
}

main {
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  .section-container {
    padding: 10vh 8vw;
  }
}
