@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background-color: #1e1e1e;
  min-height: 100vh;
  max-width: 100vw;

  font-family: Jost;
  color: #ffffff;
}
